article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

a {
  background: transparent;
}

a:focus {
  outline: thin dotted;
}

a:active,
a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

mark {
  background: #ff0;
  color: #000;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
}

q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button,
input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
body {
  height: 100%;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slide {
  height: 100%;
  width: 100%;
  background: #fabd02;
}

.shadow,
.right-shadow {
  position: relative;
}

.shadow::before,
.right-shadow::before {
  position: absolute;
  top: 35%;
  left: 35%;
  width: 100%;
  height: 100%;
  border-radius: 0 0 0 75%;
  background: -webkit-linear-gradient(top, rgba(0,0,0,0.25) 0%, rgba(0,0,0,0) 100%);
  background: linear-gradient(to bottom, rgba(0,0,0,0.25) 0%, rgba(0,0,0,0) 100%);
  content: "";
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.right-shadow {
  text-align: center;
}

.right-shadow > * {
  position: relative;
  display: block;
  height: 100%;
  border-radius: 50%;
}

.lang {
  font-size: 0;
}

.lang li {
  display: inline-block;
  margin: 0 5px;
}

.lang a {
  display: block;
  height: 30px;
  width: 30px;
  line-height: 30px;
  color: #fff;
  font-size: 11px;
  text-transform: uppercase;
  text-decoration: none;
  background: #2c5379;
  -webkit-transition: background 0.2s ease-out;
  transition: background 0.2s ease-out;
}

.lang a:hover,
.lang a:active {
  color: #f0b500;
  background: #fff;
}

.btn-slide {
  height: 48px;
  width: 48px;
  cursor: pointer;
  margin: 0 auto;
  -webkit-transition: background 0.2s ease-out;
  transition: background 0.2s ease-out;
}

.btn-slide_blue span {
  background: #0f2d4c;
}

.btn-slide_blue span:hover {
  background: #214b73;
}

.btn-slide_white span {
  background: #fff;
}

.icon-arr-bottom {
  width: 37px;
  height: 26px;
  background: url("../img/icon-arr-bottom.png");
  display: block;
  top: 21px;
  left: 13px;
  position: absolute;
}

.slide_main {
  background: #08233e;
  text-align: center;
}

.slide_main .inner {
  width: 573px;
  margin: 0 auto;
}

.lines-block {
  background: url("../img/bg-lines.png") 0 50% repeat-x;
}

.lines-block .lang {
  background: #08233e;
  width: 95px;
  margin: 0 auto;
}