.layer_about-us
 	position static

.about
	position absolute
	overflow hidden
	width 50%
	top 0
	z-index 20
	font-size 16px
	line-height 1.5
	&_hacker
		background #2c5379
		color #fff
		left 0

		.inner
			float right
	&_hipster
		background #fabd02
		color #08233e
		right 0

		.inner
			float left
	&__photo
		margin-bottom 38px
		img
			vertical-align top
	&__title
		text-transform uppercase
		font-size 24px
		font-weight bold
		line-height 1
		padding-bottom 25px
		margin 0 0 23px
		.about_hacker &
			border-bottom 1px solid #1f3a54
			box-shadow 0 -1px 0 #396c9e inset
			span
				color #fabd02
		.about_hipster &
			border-bottom 1px solid #f8a301
			box-shadow 0 -1px 0 #fcd703 inset
			span
				color #fff
	.inner
		padding 128px 38px 0
		width 503px



.social
	height 35px
	width 35px
	.with-shadow__in
		transition background 0.2s ease-out
	
	.about_hacker &
		float left
		margin-right 10px
		.with-shadow__in
			background #1a3c5e
			&:hover
				background #fff
	.about_hipster &
		float right
		margin-left 10px
		.with-shadow__in
			background #e99f01
			&:hover
				background #fff

	.icon-twitter
	.icon-facebook
	.icon-be