@font-face {
	font-family: 'SegoeUi';
	src: url('fonts/segoeuil.eot');
	src: url('fonts/segoeuil.eot?#iefix') format('embedded-opentype'),
		 url('fonts/segoeuil.woff') format('woff'),
		 url('fonts/segoeuil.ttf') format('truetype'),
		 url('fonts/segoeuil.svg#SegoeUi') format('svg');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'SegoeUi';
	src: url('fonts/segoeui.eot');
	src: url('fonts/segoeui.eot?#iefix') format('embedded-opentype'),
		 url('fonts/segoeui.woff') format('woff'),
		 url('fonts/segoeui.ttf') format('truetype'),
		 url('fonts/segoeui.svg#SegoeUi') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'SegoeUi';
	src: url('fonts/seguisb.eot');
	src: url('fonts/seguisb.eot?#iefix') format('embedded-opentype'),
		 url('fonts/seguisb.woff') format('woff'),
		 url('fonts/seguisb.ttf') format('truetype'),
		 url('fonts/seguisb.svg#SegoeUi') format('svg');
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: 'SegoeUi';
	src: url('fonts/segoeuib.eot');
	src: url('fonts/segoeuib.eot?#iefix') format('embedded-opentype'),
		 url('fonts/segoeuib.woff') format('woff'),
		 url('fonts/segoeuib.ttf') format('truetype'),
		 url('fonts/segoeuib.svg#SegoeUi') format('svg');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'SegoeUi';
	src: url('fonts/segoeuii.eot');
	src: url('fonts/segoeuii.eot?#iefix') format('embedded-opentype'),
		 url('fonts/segoeuii.woff') format('woff'),
		 url('fonts/segoeuii.ttf') format('truetype'),
		 url('fonts/segoeuii.svg#SegoeUi') format('svg');
	font-weight: normal;
	font-style: italic;
}
@font-face {
	font-family: 'SegoeUi';
	src: url('fonts/segoeuiz.eot');
	src: url('fonts/segoeuiz.eot?#iefix') format('embedded-opentype'),
		 url('fonts/segoeuiz.woff') format('woff'),
		 url('fonts/segoeuiz.ttf') format('truetype'),
		 url('fonts/segoeuiz.svg#SegoeUi') format('svg');
	font-weight: bold;
	font-style: italic;
}









@font-face {
	font-family: 'SegoeUi_symbolregular';
	src: url('fonts/seguisym.eot');
	src: url('fonts/seguisym.eot?#iefix') format('embedded-opentype'),
		 url('fonts/seguisym.woff') format('woff'),
		 url('fonts/seguisym.ttf') format('truetype'),
		 url('fonts/seguisym.svg#SegoeUi_symbolregular') format('svg');
	font-weight: normal;
	font-style: normal;

}
@font-face {
	font-family: 'bebas_neueregular';
	src: url('bebasneue.eot');
	src: url('bebasneue.eot?#iefix') format('embedded-opentype'),
		 url('bebasneue.woff') format('woff'),
		 url('bebasneue.ttf') format('truetype'),
		 url('bebasneue.svg#bebas_neueregular') format('svg');
	font-weight: normal;
	font-style: normal;
}