.slide_main{
	background: $blue_dark;
	text-align: center;

	.inner{
		width: 573px;
		margin: 0 auto;
	}
}


.lines-block{
	background: url("../img/bg-lines.png") 0 50% repeat-x;

	.lang{
		background: $blue_dark;
		width: 95px;
		margin: 0 auto;
	}
}