html,body{
	height: 100%;
}

.slide{
	height: 100%;
	width: 100%;
	background: $yellow;

	&_main{
		background: $blue_dark;
	}

	&_portfolio{
		
	}

	&_services{
		
	}

	&_about-us{
		
	}

	&_contacts{
		
	}
}

.round{
	height: 100px;
	width: 100px;
	line-height: 100px;
	span{
		background: #ff0000;
	}
}